.App {
  text-align: center;
}
#book-list {
  display: inline-grid;
  width:90%;
  grid-template-columns: 1fr 1fr;
  float: right;
  align-items: baseline;
}
img{
  width: 200px;
  height: auto
}
button{
  margin: 5px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
}
button:hover {
    background-color: black;
    color: white;

}
#reader{
  /* float:right; */
  /* position:relative; */
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #333;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.links a {
  list-style-type: none;
  margin-top: 30px;
  padding: 10px;
  background-color: #333;
  color: white;
  text-decoration: none;

}
.links a:hover {
    background-color: #111;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
